.debug-minheigth-nav  {

    min-height: 100px;
}

.debug-minheigth-containernav  {

    min-height: 80px;
}

.debug-min-heigth150{
    min-height: 150px;
}

.debug-min-heigth60{
    min-height: 60px;
}

.height350{
    height: 350px;
}

.heigth250{
    height: 250px;
}