.debug-minheigth-nav  {

    min-height: 100px;
}

.debug-minheigth-containernav  {

    min-height: 80px;
}

.debug-min-heigth150{
    min-height: 150px;
}

.debug-min-heigth60{
    min-height: 60px;
}

.height350{
    height: 350px;
}

.height300{
    height: 300px;
}

.heigth250{
    height: 250px;
}

.heigth150{
    height: 150px;
}

.heigth50{
    height: 50px;
}

.heigth30{
    height: 30px;
}

.borderdashed{
    border: dashed 2px red;
}

